* {
  all: unset;
  font-family: "Fantasque Sans Mono";
  color: #dddddd;
  font-size: 18px;
}

.bar {
  background-color: transparent;
}

.main-container {
  padding: 6px 12px;
  background-color: #272c36;
  border-radius: 12px;
  margin: 3px 3px 0 3px;
}

.workspaces {
  margin-left: -6px;
  padding-left: 0px;
}

.time {
  background: transparent;
}

.systray {
  padding-right: 8px;
}
