/* NORD COLOR PALLET */

@define-color black-1 #2E3440;
@define-color black-2 #272C36;
@define-color black-3 #191C25;
@define-color black-4 #242832;
@define-color black-5 #2C333F;
@define-color grey-1 #373E4C;
@define-color grey-2 #434C5E;
@define-color grey-3 #4C566A;
@define-color grey-4 #9099AB;
@define-color white-1 #D8DEE9;
@define-color white-2 #F0F4FC;
@define-color white-3 #ECEFF4;
@define-color white-4 #E5E9F0;

@define-color red #BF616A;
@define-color orange #D08770;
@define-color green #A3BE8C;
@define-color teal #8FBCBB;
@define-color yellow #EBCB8B;
@define-color brightblue #81A1C1;
@define-color blue #5E81AC;
@define-color magenta #B48EAD;
@define-color purple #5D80AE;
@define-color brightcyan #88C0D0;
@define-color cyan #507681;

/* FOR ALL */
* {
    font-family:
        Fantasque Sans Mono,
        Bold;
}

/* BAR */
window#waybar {
    margin-top: 3px;
    margin-bottom: 3px;
    border: none;
    opacity: 1;
    background-color: @black-2;
    transition-property: background-color;
    transition-duration: 0.5s;
}

/* BUTTONS */
button,
#scratchpad,
#tray {
    opacity: 0.95;
    margin: 3px 1px;
    padding: 2px 3px;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    border-radius: 5px;
    color: @white-3;
}

#workspaces button {
    font-size: 12px;
    padding: 0 5px;
    background-color: @grey-1;
    border-top: 3px solid @grey-2;
}

#tray,
#scratchpad {
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces button:hover {
    background: @white-4;
    color: @grey-2;
}

#workspaces button.focused,
#tray,
#scratchpad {
    margin-left: 3px;
    background-color: @grey-2;
    color: @white-1;
    border-top: 3px solid @grey-4;
}

#scratchpad {
    margin-left: 3px;
    background-color: @grey-2;
    color: @white-1;
    border-top: 3px solid @grey-4;
}

#workspaces button.focused:hover {
    background-color: @grey-3;
}

#workspaces button.urgent {
    background-color: @red;
}
#mode {
    margin-left: 10px;
    color: @white-1;
}

/* ICONS */

/* #custom-weatherIcon, */
/* #custom-weather, */
/* #custom-vpn, */
.icon,
.time-icon,
.date-icon,
.mic-icon,
.blu-icon,
.vol-icon,
.txt,
.date,
.time {
    color: @white-1;
    background-color: @grey-2;
    border-top: 3px;
    font-size: 12px;
}

.icon,
.time-icon,
.date-icon,
.blu-icon,
.vol-icon {
    margin: 2px 1px;
    font-size: 12px;
    padding: 5px 3px;
    margin: 2px 0px;
    border-radius: 5px 0px 0px 5px;
    margin-left: 2px;
    padding-left: 9px;
}

.time-icon,
.mic-icon,
.date-icon {
    padding-left: 10px;
}

.txt,
.time-txt,
.date,
.time {
    border-radius: 0px 5px 5px 0px;
    padding: 2px 0px;
    padding-right: 10px;
    padding-left: 5px;
    margin: 2px 0px;
    margin-right: 0px;
    color: @white-1;
    background-color: @grey-2;
}

#battery.icon,
#network.icon,
#cpu.icon,
#memory.icon {
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px;
    padding-right: 5px;
    margin-left: 1px;
}

#battery.txt,
#network.txt,
#cpu.txt,
#memory.txt {
    border-radius: 0px 5px 5px 0px;
    padding-left: 5px;
    padding-right: 10px;
    margin-right: 0px;
}

/* BOXES */
.time-txt,
.time-icon {
    border-top: 3px solid @red;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#pulseaudio {
    border-top: 3px solid @orange;
}

#pulseaudio.txt.muted,
#pulseaudio.vol-icon.muted,
#pulseaudio.mic-icon.source-muted {
    color: @orange;
}

#network,
#custom-vpn,
#custom-blu {
    border-top: 3px solid @yellow;
}

#battery {
    border-top: 3px solid @green;
}

#network.icon.disconnected {
    color: @orange;
}

#cpu {
    border-top: 3px solid @cyan;
}

#memory {
    border-top: 3px solid @blue;
}

#clock.date-icon,
#clock.date {
    border-top: 3px solid @magenta;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #00212b;
}
